/* RESET  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* GAME ELEMENTS */

.app {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #334437;
}

.home-title,
.game-score,
.game-over-result {
  position: absolute;
  margin: 0;
  display: block;
  color: #395661;
  font-weight: 700;
  text-align: center;
  z-index: 1;
  visibility: hidden;
}

.home-title {
  top: 22%;
  font-size: 26px;
  color: #943333;
}

.game-score,
.game-over-result {
  top: 22%;
  font-size: 26px;
}

.game-over-result {
  display: flex;
  justify-content: center;
  gap: 32px;
  text-align: center;
}

.game-over-score-label,
.game-over-high-score-label {
  font-size: 14px;
  color: #6C8A92;
}

.home-hint,
.game-over-hint {
  position: absolute;
  top: calc(50% + 60px);
  left: calc(50% + 76px);
  transform: translate(-50%, -50%);
  display: block;
  margin: 0;
  padding: 4px 8px;
  border-radius: 16px 16px 16px 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: #395661;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  z-index: 1;
  visibility: hidden;
}

.canvas {
  display: block;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}

/* DESKTOP STYLES */

@media (min-aspect-ratio: 1/1) and (min-width: 900px) {
  .canvas {
    border-radius: 16px;
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0.3);
  }
}
