/* RESET  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* GAME CANVAS */

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
}

canvas {
  display: block;
  width: min(round(down, min(80vw, 80vh), 1px), 512px);
  background-color: #444;
  border-radius: 12px;
}
