/* RESET  */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* GAME ELEMENTS */

.app {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #334437;
}

.home-title,
.game-score,
.home-hint,
.game-over-result,
.game-over-hint {
  position: absolute;
  margin: 0;
  display: block;
  color: #395661;
  font-weight: 700;
  text-align: center;
  z-index: 1;
  visibility: hidden;
}

.home-title {
  top: 20%;
  font-size: 26px;
  color: #943333;
}

.game-score,
.game-over-result {
  top: 20%;
  font-size: 26px;
}

.home-hint,
.game-over-hint {
  bottom: 90px;
  font-size: 20px;
}

.canvas {
  display: block;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
}

/* DESKTOP STYLES */

@media (min-aspect-ratio: 1/1) and (min-width: 900px) {
  .canvas {
    border-radius: 16px;
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0.3);
  }
}
